h1 {
  color: rgb(0, 0, 209);
  text-align: center;
  font-family: sans-serif;
  background-color: aliceblue;
}
h2 {
    background-color: aliceblue;
  color: rgb(0, 66, 128);
  font-style: italic;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
p {
  font-family: sans-serif;
  color: rgb(37, 0, 8);
  font-weight: bold;
}
.username {
  color: rgb(9, 0, 17);
  font-style: italic;
}
ul {
  line-height: 40px;
}
body {
  background-color: aliceblue;
}
img {
  width: 220px;
  border-radius: 120px;
  float: left;
  margin-right: 20px;
}
.intro {
  font-style: italic;
  color: rgb(13, 23, 119);
}
.list {
  color: darkblue;
  font-weight: bold;
}
#list {
  color: rgb(97, 0, 89);
  font-weight: bold;
}
.important {
  background-color:aliceblue;
  float: top;
  margin-right: 50px;
  padding: 20px;
}
.unimportant {
  background-color:aliceblue;
  float: top;
  margin-right: 50px;
  padding: 20px;
}
.inline{
    color: blueviolet;
    font-style: italic;
}
.text-box{
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 7px;
    margin: 10px;
    background-color: aliceblue;
}
.non-important{
    background-color:aliceblue;
    float: top;
    margin-right: 50px;
    padding: 20px;
}
.web p {
    color:rgb(10, 0, 41);
    font-style: italic;
}
@media screen and (min-width: 480px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: rgb(221, 233, 243);
    color: black;
  }
}